<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ILMap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to :Unions,  unions_path,  class:"nav-link" %>
      <li class="nav-item"><%= link_to :Players, players_path, class:"nav-link" %>
      <li class="nav-item"><%= link_to :Maps,    maps_path,    class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>
